* {
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 50ch;
  font-size: 20px;
  line-height: 1.3;
}

.code-sample pre {
  margin-bottom: 0;
}

.code-sample output {
  display: block;
  padding: 1rem;
  border: 1px #222 solid;
}
